@model NorthwindMvc5.Areas.Administration.Models.ShipperModel

@using NorthwindMvc5.Resources;

@{
    ViewBag.Title = ShipperResource.Details;
}

<h2>@ShipperResource.Details</h2>

<div>
    <h4>@ShipperResource.Shipper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(ShipperResource.Edit, "Edit", new { id = Model.ShipperID }) |
    @Html.ActionLink(ShipperResource.BackToList, "Index")
</p>
