@model IEnumerable<NorthwindMvc5.Areas.Administration.Models.ShipperModel>

@using NorthwindMvc5.Resources;

@{
    ViewBag.Title = ShipperResource.Index;
}

<h2>@ShipperResource.Index</h2>

<p>
    @Html.ActionLink(ShipperResource.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink(ShipperResource.Edit, "Edit", new { id = item.ShipperID }) |
            @Html.ActionLink(ShipperResource.Details, "Details", new { id = item.ShipperID }) |
            @Html.ActionLink(ShipperResource.Delete, "Delete", new { id = item.ShipperID })
        </td>
    </tr>
}

</table>
