@model NorthwindMvc5.Areas.Administration.Models.RegionModel

@using NorthwindMvc5.Resources;

@{
    ViewBag.Title = RegionResource.Delete;
}

<h2>@RegionResource.Delete</h2>

<h3>@RegionResource.DeleteConfirmation</h3>
<div>
    <h4>@RegionResource.Region</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@RegionResource.Delete" class="btn btn-default" /> |
            @Html.ActionLink(RegionResource.BackToList, "Index")
        </div>
    }
</div>
